<% @posts.each do |post| %>
  <div>
   <%= link_to post_path(post.id)do %>
    <%= attachment_image_tag post, :image %>
   <% end %>
    <p>投稿ユーザー画像<%= image_tag ('no-image.jpeg') %></p>
    <p>ユーザーネーム<%= post.user.last_name %><%= post.user.first_name %></p>
    <p>料理名<%= post.cook_name %></p>
    <p>レシピ（詳細）<%= post.description %></p>
    <p><%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %></p>
  </div>
<% end %>